@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Inconsolata:wght@500&family=Jost:wght@300&family=Lexend:wght@500&family=Londrina+Outline&family=Manrope&family=Montserrat:wght@500&family=PT+Sans&family=Playfair+Display:wght@600&family=Roboto:wght@300&family=Work+Sans:wght@500&display=swap');
.topbar {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}


.home {
  font-family: 'Work sans', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Topbar */

.topbar {
  background-color: #fff;
  position: relative;

}

.inner-topbar {

  width: 78%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.inner-topbar .left-top {
  width: 50%;
  display: flex;
  align-items: flex-start;
}

.inner-topbar .right-top {
  width: 50%;
  display: flex;
  text-align: right;
  align-items: flex-end;
}

.inner-topbar .left-top .top-logo {
  display: flex;
  width: 35%;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  background-color: #0068f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  padding: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  outline: none;
}

.inner-topbar .left-top .top-logo:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.logo-icon {
  margin-right: 15px;
  font-size: 22px;
  color: white;
}

.logo-icon-right {

  font-size: 22px;
  color: white;
}

.inner-topbar .right-top .right-top-icon {
  width: 100%;
  display: flex;
 justify-content: flex-end;
  align-items: flex-end;
}

.inner-topbar .right-top .right-top-icon .twitter {
  background-color: #00bbf9;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.inner-topbar .right-top .right-top-icon .twitter:hover {
  opacity: 0.5;
  box-shadow: none;
}

.inner-topbar .right-top .right-top-icon .facebook:hover {
  opacity: 0.5;
  box-shadow: none;
}

.inner-topbar .right-top .right-top-icon .smart-top:hover {
  opacity: 0.5;
  box-shadow: none;
}

.inner-topbar .right-top .right-top-icon .instagram:hover {
  opacity: 0.5;
  box-shadow: none;
}

.inner-topbar .right-top .right-top-icon .be:hover {
  opacity: 0.5;
  box-shadow: none;
}

.inner-topbar .right-top .right-top-icon .basket-top:hover {
  opacity: 0.5;
  box-shadow: none;
}

.inner-topbar .right-top .right-top-icon .facebook {
  background-color: #301E67;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}



.inner-topbar .right-top .right-top-icon .smart-top {
  background-color: #7286D3;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.inner-topbar .right-top .right-top-icon .instagram {
  background-color: #FF8B13;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.inner-topbar .right-top .right-top-icon .be {
  background-color: #0014FF;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.inner-topbar .right-top .right-top-icon .basket-top {
  background-color: #FB2576;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* ------leftSidebar------- */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 30;

}

.inner-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh; 
  background-color: #f6fff8;
  transition: all 0.5s ease;
}

.sidebar .inner-sidebar .remove-sidebar {
  display: flex;
  justify-content: flex-end;
 
}

.sidebar .inner-sidebar .remove-sidebar button {
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.sidebar .inner-sidebar .remove-sidebar .remove-sidebar-icon:hover {
  box-shadow: none;
  background-color: #0068f9;
  color: white;
}

.sidebar .inner-sidebar .remove-sidebar .remove-sidebar-icon {
  padding: 10px;
  background-color: white;
  color: #808191;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}



 .border {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.inner-sidebar-inner {
  padding: 20px 30px; 
  height: 100%;
  overflow-y: scroll;
}

.border .inner-border {
  height: 17px;
  width: 5px;
  background-color: #0068f9;
  margin-right: 10px;
}

.border .archive-span {
  font-size: 19px;
  font-weight: 1000;
  letter-spacing: 2px;
  color: #272727;
}

.search-sidebar {
  width: 100%;
}

.search-sidebar .search-select {
  width: 100%;
  padding: 10px ;
  border-radius: 50px;
  color: #999;
  font-size: 15px;
  font-weight: 400;
  border: none;
  outline: none;
  margin-bottom: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-sidebar .search-select:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

hr {
  width: 100%;
  background-color: #ccc;
  height: 1px;
  border: none;
  margin-bottom: 20px;
}

.label-category {
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.label-category .inner-label {
  text-decoration: none;
  padding: 4px 13px;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 16px;
  color: #212529;
  text-transform: uppercase;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.label-category .inner-label:hover {
  background-color: #0068f9;
  color: white;
  box-shadow: none;
}

 .contact-name {
  display: flex;
  align-items: center;
  width: 92%;
  padding: 8px 11px;
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  color: #808191;
  font-weight: 400;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

 .contact-name:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 .contact-name .contact-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  color: #808191;
  background-color: transparent;
}

.sidebar .contact-email {
  display: flex;
  align-items: center;
  width: 92%;
  padding: 8px 11px;
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  color: #808191;
  font-weight: 400;
  margin-bottom: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar .contact-email:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar .contact-email .contact-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  color: #808191;
  background-color: transparent;
}

.sidebar .contact-message {
  width: 92%;
  
  padding-right: 0px;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  color: #808191;
  font-weight: 400;
  padding: 8px 11px;
  margin-bottom: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.sidebar .contact-message:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar .contact-message .contact-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  height: 200px;
  color: #808191;
  scrollbar-width: none;
  overflow-y: scroll;
}

.sidebar .contact-message .contact-input::-webkit-scrollbar {
  display: none;
}

.footer-sidbar-button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 11px;
  border-radius: 50px;
  background-color: #00bbf9;
  font-size: 15px;
  color: white;
  font-weight: 400;
  transition: all 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 90px;
}

.footer-sidbar-button:hover {
  background-color: #0068f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-sidbar-span {
  margin-right: 15px;
}



[data-collapse="true"] {
  width: 0px;
  transition: all 0.3s ease;
}

[data-collapse="true"] .inner-sidebar-inner {
  display: none;
  transition: all 0.3s ease;
}

[data-collapse="true"] .remove-sidebar button {
  display: none;
  transition: all 0.3s ease;
}

[data-collapse="true"] .remove-sidebar button .remove-sidebar-icon {
  display: none;
  transition: all 0.3s ease;
}

[data-collapse="true"] .archive {
  display: none;
  transition: all 0.3s ease;
}


/* ---------right-sidebar----------- */



[data-collap="true"] {
  width: 0px;
  transition: all 0.3s ease;
}

[data-collapse="true"] .inner-right-sidebar {
  
  transition: all 0.3s ease;
}

.main-right-sidebar {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  overflow: initial;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.main-right-second-sidebar {
  display: none;
  position: absolute;
  top: 0;
  right: -10px;
  overflow-y: hidden;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.right-sidebar {

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  
}

.right-second-sidebar {
  background-color: none;
  
}

.inner-right-second-sidebar {
  
  width: 0px;
  padding: 0;
}

.inner-right-sidebar {
  
  padding: 40px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.right-sidebar-remove {
  border: none;
  outline:none;
  color: white;
  position: absolute;
  right: 265px;
  top: 134px;
  z-index: 10;
  display: flex ;
  justify-content: flex-end;
  cursor: pointer;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  width: 40px;
  background-color: #0068f9;
  color: #797b7d;
  padding: 10px 6px;
  
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.right-sidebar-remove:hover {
  color: white;
  background-color: #0068f9;
}

.glow-on-hover {
  width: 40px;
  height: 25px;
  border: none;
  outline: none;
  color: white;
  background-color: #0068f9;
  cursor: pointer;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -0px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: white;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0068f9;
  color: white;
  left: 0;
  top: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.right-sidebar-second-remove:hover {
  background-color: #0068f9;
  color: white;
}

.right-sidebar-second-remove {
  border: none;
  outline:none;

  position: absolute;
  right: 16px;
  top: 134px;
  z-index: 10;
  display: flex ;
  justify-content: flex-end;
  cursor: pointer;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 0px 0px, rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  width: 40px;
  color: white;
  background-color: #0068f9;
  padding: 10px 6px;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}



.rs-border {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rs-border .rs-inner-border {
  height: 17px;
  width: 5px;
  background-color: #0068f9;
  margin-right: 10px;
}

 .rs-border .rs-archive-span {
  font-size: 19px;
  font-weight: 1000;
  letter-spacing: 2px;
  color: #fb8500;
}


.main-check {
  
  padding-top: 0px;
  transition: all 0.3s ease;
}

.main-check .check .check-input {
  width: 100%;
 
}


.check .checkbox-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align:left;

}



.checkbox-label {
  display: flex;
  margin: auto;
  cursor: pointer;
  font-size: 15px;
  color: #212529;
  line-height: 24px;
  height: 50px;
  width: 70%;
  clear: both;
}
.checkbox-label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .mark {
  top:0px;
  left: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  border: 1px solid #0068f9;
}
.checkbox-label input:checked ~ .mark {
  background-color: white;
  border-radius: 5px;
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 1px solid #0068f9;
}
.checkbox-label .mark::after {
  position: absolute;
  content: "";
  border-radius: 5px;
}
.checkbox-label input:checked ~ .mark::after {
transform: rotate(45deg) scale(1);
left: 7px;
top: 3px;
width: 4px;
height: 10px;
border: solid red;
border-width: 0 2px 2px 0;
border-radius: 0;
}

.checkbox-label .mark::before {
  position: absolute;
  content: "";
  border-radius: 10px;
  border: 4px solid #0068f9;
  transform: scale(0);    
}

.checkbox-label input:checked ~ .mark::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  transform: scale(3);
  opacity:0;   
  transition: all 0.3s ease-out;
}

/* ---button---- */


.animated-button1 {
  background: linear-gradient(-30deg, #0068f9 50%, #2ec9fc 50%);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: white;
  font-size: 10px;
  letter-spacing: 2.5px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          
}


.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}


.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 3px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}



.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}



.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}


@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}





@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

/* ----------Header---------- */

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
}


.header {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-family: 'Work sans', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0px;
}

.header-right-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0068f9;
  position: relative;
  cursor: pointer;
}

.header-right-child-second {
  display: flex;
  align-items: center;
  color: #0068f9;
  position: relative;
}

.header-icon {
  font-size: 17px;
  margin-left: 10px;
  color: #0068f9;
  cursor: pointer;
}

.header-home {
  position: relative;
  color: #0068f9;
  font-size: 16px;
  text-decoration: none;
}

.header-right-child::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #00c851;
  z-index: 10;
  transition: all 0.5s ease;
}

.header-right-child-second::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00c851;
  z-index: 10;
  transition: all 0.5s ease;
}

.header-right-child:hover:before {
  width: 100%;
  z-index: 10;
  background-color: #00c851;
  transition: all 0.5s ease;
}

.header-right-search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-right-search::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0068f9;
  z-index: 10;
  transition: all 0.5s ease;
}

.header-right-search:hover:before {
  width: 100%;
  z-index: 10;
  background-color: #0068f9;
  transition: all 0.5s ease;
}

.header-home-second {
  position: relative;
  color: #0068f9;
  font-size: 16px;
  text-decoration: none;
}

.header-title {
  font-size: 30px;
  margin-left: 10px;
  color: #0068f9;
}

.inner-header {
  width: 78%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #Fff;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo .header-logo-img {
  width: 90%;
}

.postpage {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 230px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 30;
  background-color: #fff;
}



.postpage-second {
  display: none;
  width: 0;
  margin: 0;
}

.postpage-inner {
  padding: 20px 30px;
  width: 100%;
  
}

.postpage-inner hr {
  margin-top: 15px;
  
  height: 1px;
  background-color: #808191;
}

.postpage-inner-child {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(195, 192, 192);
  font-size: 15px;
  transition: all 0.3s ease;
}

.postpage-inner-child:hover {
  color: #0068f9;
}

.bigpage {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 76%;
  z-index: 20;
  border-radius: 15px;
  position: absolute;
  top: 100px;

  background-color: white;
}

.big-second {
  display: none;
}

.big-inner {
  padding: 20px 30px;
}

.big-inner-big {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  
}



.big-inner .big-inner-child-border {
  margin: 15px 0px;
  height: 1px;
  background-color: rgb(221, 218, 218);
}

.big-inner-child {
  width: 18%;
  text-decoration: none;
  align-items: center;
  color: rgb(195, 192, 192);
  font-size: 15px;
  transition: all 0.3s ease;
}

.big-inner-child:hover {
  color: #0068f9;
}

.one-mega {
  width: 76%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  z-index: 20;
  background-color: #f1f1f1;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 15px;
  position: absolute;
  top: 100px;
}

.one-mega-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.second-one-mega {
  display: none;
}

.one-mega-inner-button {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: absolute;
  bottom: -68px;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  background: #0068f9;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.one-mega-inner-button:hover {
  background-color: #002bff;
  color: white;
}

/* -----CONTAINER------- */

.main-container {
  padding: 40px 0px;
  background-color: #eeeeee;
  font-family: 'Work sans', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.second-main-container {
  padding: 40px 0px;
  background-color: #eeeeee;
  font-family: 'Work sans', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.cate {
  display: flex;
  justify-content: center;
}

.inner-cate {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cate-left {
  width: 62%;
  display: flex;
  align-items: center;
}

.cate-inner-icon {
  color: #808191;
  padding: 6px 9px;
  border-radius: 50px;
  border: 1px solid #b9bdc1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cate-inner-home {
  text-transform: uppercase;
  text-decoration: none;
  color: #0068f9;
}

.cate-left span {
 margin: 0px 12px;
 font-size: 20px;
 color: #808191;
}

.cate-inner-static {
  text-transform: uppercase;
  color: #808191;
  text-decoration: none;
}

.cate-inner {
  color: #808191;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-left: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 50px;
}

.cate-inner:hover {
  background-color: #0068f9;
  color: white;
  transition: all 0.5s ease;
}

.cate-inner-second {
  background-color: #0068f9;
  color: white;
}

.cate-right {
  display: flex;
  align-items: center;
}

.view {
  display: flex;
  align-items: center;
  color: #787b7e;
  border: 1px solid #b9bdc1;
  padding: 10px 35px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.view:hover {
  box-shadow: none;
}

.view-span {
  margin-left: 10px;
}

.cate-light {
  color: white;
  padding: 7px 9px;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  background-color: red;
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cate-light:hover {
  background-color: red;
  transition: all 0.3s ease;
  color: white;
}

.cate-dark {
  color: white;
  padding: 7px 9px;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  background-color: #0068f9;
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cate-dark:hover {
  background-color: #00bbf9;
  transition: all 0.3s ease;
  color: white;
}

.container{
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

 .card{
  width: 360px;
  background: white;
 
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

 .card-second{
  max-width: 300px;
  background: white;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}



 .card .imgBx{
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
  top: -0px;
  left: 0px;
  cursor: pointer;
  border-radius: 20px;
 
}

 .card .imgBx:hover {
  background-color: #212529;
}

 .card .imgBx img{
  width: 100%;
  height: 110%;
  border-radius: 20px;

}

.container-card-first {
  display: flex;
  gap: 3.6rem;
  flex-wrap: wrap;
  width: 100%;
}

.learnmore-static {
  width: 100%;
}

.learnmore {
  width: 100%;
}

.read-more-button {
  width: 100%;
  cursor: pointer;
  font-size: 17px;
  color: #333333;
  font-weight: 500;
  padding: 12px 0px;
  background-color: white;
  border: none;
  outline: none;
}

.container-card-img {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  width: 315px;
  height: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;

}

.container-card-img .h3 {
  background-color: transparent;
  color: #fff;
  font-size: 3em;
}

.container-card-img:before,
.container-card-img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  content: '';
  opacity: 0.4;
  z-index: 1;
}

.container-card-img:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.container-card-img:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.container-card-img img {
  
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.container-card-img figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.container-card-img a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.container-card-img:hover > img,
.container-card-img.hover > img {
  opacity: 0.5;
}

.container-card-img:hover:before,
.container-card-img.hover:before {
  -webkit-transform: skew(45deg) translateX(-45%);
  transform: skew(45deg) translateX(-45%);
}

.container-card-img:hover:after,
.container-card-img.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.container-card-img:hover figcaption,
.container-card-img.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
/* Right-related-post-card */
.right-related-post-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65%;
}

.right-relatedpost-card {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 0px;
  max-width: 355px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.right-relatedpost-card .h3 {
  background-color: transparent;
  color: #fff;
  font-size: 3em;
}

.right-relatedpost-card:before,
.right-relatedpost-card:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  content: '';
  opacity: 0.4;
  z-index: 1;
}

.right-relatedpost-card:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.right-relatedpost-card:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.right-relatedpost-card img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.right-relatedpost-card figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.right-relatedpost-card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.right-relatedpost-card:hover > img,
.right-relatedpost-card.hover > img {
  opacity: 0.5;
}

.right-relatedpost-card:hover:before,
.right-relatedpost-card.hover:before {
  -webkit-transform: skew(45deg) translateX(-45%);
  transform: skew(45deg) translateX(-45%);
}

.right-relatedpost-card:hover:after,
.right-relatedpost-card.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.right-relatedpost-card:hover figcaption,
.right-relatedpost-card.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* second-right-related-post-card */

.second-right-related-post-card {
  background-color: #fff;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 30%;
}

.second-right-related-post-card .h3 {
  background-color: transparent;
  color: #fff;
  font-size: 1.5em;
}

.second-right-related-post-card:before,
.second-right-related-post-card:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  content: '';
  opacity: 0.4;
  z-index: 1;
}

.second-right-related-post-card:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.second-right-related-post-card:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.second-right-related-post-card img {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  vertical-align: top;
}

.second-right-related-post-card figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.second-right-related-post-card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.second-right-related-post-card:hover > img,
.second-right-related-post-card.hover > img {
  opacity: 0.5;
}

.second-right-related-post-card:hover:before,
.second-right-related-post-card.hover:before {
  -webkit-transform: skew(45deg) translateX(-45%);
  transform: skew(45deg) translateX(-45%);
}

.second-right-related-post-card:hover:after,
.second-right-related-post-card.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.second-right-related-post-card:hover figcaption,
.second-right-related-post-card.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* Related-card */
.related-card-img {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 20px;
  max-width: 315px;
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.related-card-img .h3 {
  background-color: transparent;
  color: #fff;
  font-size: 3em;
}

.related-card-img:before,
.related-card-img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  content: '';
  opacity: 0.4;
  z-index: 1;
}

.related-card-img:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.related-card-img:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.related-card-img img {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.related-card-img figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.related-card-img a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.related-card-img:hover > img,
.related-card-img.hover > img {
  opacity: 0.5;
}

.related-card-img:hover:before,
.related-card-img.hover:before {
  -webkit-transform: skew(45deg) translateX(-45%);
  transform: skew(45deg) translateX(-45%);
}

.related-card-img:hover:after,
.related-card-img.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.related-card-img:hover figcaption,
.related-card-img.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

 .content{
  position: relative;
  margin-top: 0px;
  padding: 10px 20px;
  color: #111;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.content-second{
  display: none; 
}

.content-cate {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #808191;
  margin-bottom: 30px;
}

.slider {
  overflow: hidden;

  margin-bottom: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.slider button {
  display: none !important;
}

.content-span {
  margin-left: 13px;
  text-decoration: none;
  color: #0068f9;
}



#content {
  overflow: hidden;
  height: 5.6em;
  width: 100%;
}

#content-second {
  overflow: hidden;
  height: 30px;
  width: 100%;
}

#content-related {
  overflow: hidden;
  height: 40px;
  width: 100%;
}

#content-home {
  overflow: hidden;
  color: #333333;
  word-break: break-all;
  text-align: justify;
  margin-bottom: 20px; 
  font-size: 17px;
  line-height: 25px;
  height: 50px;
  width: 100%;
}

.content-title:hover {
  color: #0068f9;
}

.content-desc {
  color: #858282;
  line-height: 20px;
  text-align: justify;
  font-size: 14px;
  margin-bottom: 20px;
  letter-spacing: 0.1px;
}

.content-desc span {
  font-size: 20px;
}

.content-desc a {
  text-decoration: none;
  color: #0068f9;
}

.content-desc a:hover {
  text-decoration: none;
  color: #1423f5;
}

.right-related-desc span {
  font-size: 20px;
}

.right-related-desc a {
  text-decoration: none;
  color: #0068f9;
}

.right-related-desc a:hover {
  text-decoration: none;
  color: #1423f5;
}

.container-card-middle-first {
  margin-top: 40px;
  position: relative;
  left: 0;
  width: 360px;
}

.card-middle {
  width: 360px;
  height: 238px;
  position: sticky;
  top: 100px;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #c8c9d4;
  background-color: #fff;
  margin-bottom: 60px; 
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.card-middle:hover {
  transition: all 0.3s ease;
}

.card-middle-inner {
  color: #808191;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.content-footer {
  display: flex;
  justify-content: space-between;
}

.content-footer .time {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #808191;
}

.content-icon {
  font-size: 16px;
}

.content-footer .time .time-span {
  margin-left: 10px;
}

/* --------post-about---- */

.postabout {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  background-color: #fff;
  padding: 40px 0;
}

.postabout-container {
  padding: 40px 0px;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  font-family: 'Work sans', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}



.postabout-title {
  width: 78%;
  text-align: left;
}

.postabout-header {
  font-size: 40px;
  color: #434649;
  margin-bottom: 30px;
}

.postabout-inner {
  display: flex;
}

.postabout-user-span {
  margin-left: 7px;
  color: #0068f9;  
  
}

.postabout-user {
  display: flex;
  align-items: center;
  color: #ccc;
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 20px;
}

.postabout-icon {
  font-size: 18px;
  margin-right: 6px;
}

.post-container-inner {
  width: 78%;
 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.post-inner-left {
 width: 65%;

}

.post-inner-left .ads {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px dashed #e5e5e5;
  margin-bottom: 40px;
  color: #434649;

}

.post-inner-left .img {
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}

.post-inner-left .img img {
  width: 100%;
  height: 100%;
}

.post-inner-left .desc {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: justify;
  letter-spacing: 1px;
  color: #333333;
}

.post-inner-left .down-desc {
  font-size: 18px;
  text-align: justify;
  color: #333333;
  margin-bottom: 30px;
}

.post-inner-left .awesome {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
  background-color: #cff5de;
  color: #00c851;
  border-radius: 20px;
}

.post-inner-left .awesome .awe-icon {
  margin-left: 30px;
}


/* ---------RELATED-------- */

.related {
  position: relative;
  margin-bottom: 20px;
  
}


.related-head {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 12px 15px;
  margin-bottom: 30px;
  border-radius: 12px;
}

.related-head .related-icon {
  color: #808191;
  margin-right: 20px;
}

.related-post {
  display: flex;
  justify-content: space-between;
}

.related-post-inner {
  background-color: white;
  width: 200px;
  margin-bottom: 2px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.one-related-post-inner {
  background-color: white;
  width: 23%;
  margin-bottom: 2px;
  border-radius: 18px;
}

.one-related-post-inner:hover {
  transition: box-shadow .1s ease-in-out;
  box-shadow: 0 5px 12px rgb(0 0 0 / 15%);
}

.one-related-post-inner .image {
  width: 100%;
  height: 140px;
  border-radius: 18px;
  margin-bottom: 15px;
}

.one-related-post-inner .image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.one-related-post-inner .related-content {
  padding: 10px;
  padding-bottom: 15px ;
}

.related-post-inner:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.related-post-inner .image {
  width: 100%;
  height: 140px;
  border-radius: 18px;
  margin-bottom: 15px;
}

.related-post-inner .image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.related-post-inner .related-content {
  padding: 10px;
  padding-bottom: 15px ;
}

.related-content .related-span {
  color: #333333;
  text-decoration: none;
  word-break: break-all;
  overflow: hidden;
  height: 30px;
  width: 100%;
  transition: all 0.3s ease;
  font-size: 14px;
}

.related-content .related-cate {
  color: #002bff;
  text-decoration: none;
  text-transform: uppercase;
  word-break: break-all;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease;
  font-size: 14px;
}

.emoji {
  border-radius: none;
}

.related-content .related-span:hover {
  color: #0068f9;
}

.related-content .related-time {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #808191;
  font-size: 10px;

}

.related-time .time {
  display: flex;
  align-items: center;
  margin-right: 30px;

}

.related-time .comment {
  display: flex;
  align-items: center;
  
}

.related-time .content-icon {
  margin-right: 10px;
}

/*  */

.App {
  /* font-family: sans-serif; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 40px 0px;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.App button   {
  background: #0068f9;
  border: none;
  color: white;
}

.App button:hover {
  background-color: #082de3 !important;
  color: white;
}

.related-share {
  display: flex;
  align-items: center;
}

.related-time {
  display: flex;
  color: #808191;
  align-items: center;
  font-size: 14px;
  margin-right: 13px;
}

.related-content-icon {
  font-size: 15px;
  margin-right: 10px;
}

.related-top-icon {
  display: flex;
  align-items: flex-end;
}

.related-top-icon .related-twitter {
  background-color: #0068f9;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.related-top-icon .related-twitter:hover {
  opacity: 0.5;
  box-shadow: none;
}

.related-top-icon .related-facebook:hover {
  opacity: 0.5;
  box-shadow: none;
}

.related-top-icon .related-smart-top:hover {
  opacity: 0.5;
  box-shadow: none;
}

.related-top-icon .related-instagram:hover {
  opacity: 0.5;
  box-shadow: none;
}

.related-top-icon .related-be:hover {
  opacity: 0.5;
  box-shadow: none;
}

.related-top-icon .related-basket-top:hover {
  opacity: 0.5;
  box-shadow: none;
}

.related-top-icon .related-facebook {
  background-color: #301E67;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}



.related-top-icon .related-smart-top {
  background-color: #7286D3;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

 .related-top-icon .related-instagram {
  background-color: #FF8B13;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.related-top-icon .related-be {
  background-color: #0014FF;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

 .related-top-icon .related-basket-top {
  background-color: #FB2576;
  margin-right: 10px;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.related-order {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.related-inner-order {
  position: relative;
  width: 50%;
  background-color: white;
  
  padding: 20px 10px;
  padding-right: 50px;
  border-radius: 15px;
  text-decoration: none;
  border: 1px dashed #0068f9;
}

.related-inner-order:hover {
  border: 1px solid #0068f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.order span {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  color: #0068f9;
  font-size: 14px;
  margin-bottom: 30px;
}

.order span:hover {
  color: #0728cd;
}

.order .order-title {
  display: flex;
  justify-content: flex-end;
  color: #333333;
}

.order .order-icon:hover {
  background-color: #0068f9;
  color: white;
  transition: all 0.3s ease;
}

.order .order-icon {
  position: absolute;
  top: 30px;
  right: -18px;
  background-color: white;
  padding: 7px;
  border-radius: 50px;
  color: #808191;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.related-comment {
  padding: 20px;
  padding-top: 0px ;
  
}

.related-comment-title {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.related-comment-title-icon {
  margin-right: 20px;
  color: rgb(91, 90, 93);
}

.main-related-comment {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.comment-box {
  display: flex;
  
}

.comment-box-left {
  margin-right: 20px;
}

.comment-box .comment-box-left-icon {
  padding: 5px;
  font-size: 40px;
  border-radius: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.comment-box-border {
  width: 2px;
  height: 50px;
  margin-right: 20px;
  background-color: rgb(227, 223, 223);
}

.comment-box-right .comment-box-title {
  color: #333333;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.comment-box-right .comment-box-date-span {
  color: #605e5e;
  font-size: 12px;

}

.comment-box-right .comment-box-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.comment-box-right .comment-box-desc {
  color: #64656c;
  font-size: 16px;
  
}

.comment-box-right .comment-box-date .reply {
  display: flex;
  align-items: center;
  color: #0068f9;
  font-size: 15px;
  cursor: pointer;
}

.comment-box-right .comment-box-date .reply .reply-icon {
  margin-right: 10px;
  
}

.back-reply {
  margin-top: 40px;
  border: 1px dashed #0068f9;
  padding: 30px 20px;
  border-radius: 20px;
  
}

.reply-box {
  padding: 20px;

}

.inner-reply {
  padding: 15px;
  border: 1px dashed #e5e5e5;
  border-radius: 15px;
  display: flex;
}

.reply-box-left {
  margin-right: 20px;
  
}

.reply-box-left-icon {
  padding: 7px;
  font-size: 30px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inner-reply-right {
  width: 100%;
  position: relative;
}

.inner-reply-right-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.reply-inner-title {
  margin-right: 20px;
}

.react-emoji {
  width: 100%;
}

.react-input-emoji--container {
  border-radius: 0px;
  width: 100%;
}

.inner-reply-right-header input {
  font-size: 12px;
  color: #808191;
  border: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.comment-text {
  width: 100%;
}

.comment-input-text {
  width: 95%;
  padding: 10px;
  padding-right: 0px;
}


 .input-data{
  height: 40px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

}

 .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  color: #272727;
  outline: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-25px);
  font-size: 15px;
  color: #0068f9;
}

.input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #808191;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  bottom: -1px;
  height: 2px;
  width: 100%;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #0068f9;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

.comment-button {
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #0068f9;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.comment-button:hover {
  background-color: #1627de;
}


.post-inner-right {
  width: 30%;
}

.right-related-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: white;
  color: #333333;
  border: 1px dashed #e5e5e5;
}

.right-related-post {
  display: flex;
  justify-content: space-between;
}

 .right-image {
  width: 100%;
  height: 190px;
  border-radius: 18px;
  margin-bottom: 15px;
}

 .right-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

 .right-related-content {
  padding: 10px;
  padding-bottom: 15px ;
}

.right-related-content .right-related-span {
  margin-bottom: 20px;
  color: #5b6064;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;

}

.right-related-content .right-related-span:hover {
  color: #0068f9;
}

.right-related-desc {
  margin-top: 20px;
  color: #272727;
  line-height: 20px;
  text-align: justify;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.second-right-related-post-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  margin-bottom: 20px;
}


.second-right-related-post-inner .second-right-related-content {
  width: 100%;
  padding: 10px;
}

.second-right-related-content .second-right-related-span {
  width: 240px;
  color: #0068f9;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
  font-size: 17px;
}

.second-right-related-content .second-right-related-span:hover {
  color: #0a64e3;
}

.second-right-related-desc {
  margin-top: 10px;
  color: #535151;
  font-size: 14px;
}

.right-box-border {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.border-right {
  width: 8px;
  height: 8px;
  margin-right: 15px;
  border-radius: 50px;
  background-color: #afb2b6;
}

.right-box-border a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 18px;
  color: #002bff;
}

.right-footer {
  height: 1500px;
}

.right-footer .right-related-box {
  position: sticky;
  top: 100px;
}

/* Comment profile */

.comment-profile-second {
  display: none;
}

.comment-profile {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 96%;
  z-index: 10;
  height: 90%;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.comment-profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #127161;
  padding: 15px;
}

.comment-profile-header .comment-profile-icon {
  color: #fff;
  margin-right: 10px;
}

.comment-profile-header span {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.comment-profile-header button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.comment-profile-header {
  margin-bottom: 14px;
}

.add-comment {
  cursor: pointer;
  font-size: 17px;
  color: #333333;
  font-weight: 500;
  padding: 12px 12px;
  margin-top: 20px;
  background-color: white;
  border: none;
  outline: none;
  border: 1px solid #ccc;
}

.inner-reply-second {
  display: none;
}

/* Footer */
.mainFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: 'Poppins', sans-serif;
  color: #333333;
}

/* Square-button */
.square_btn{
  margin-bottom: 20px;
  display: inline-block;
  padding: 0.3em 0.8em;
  text-decoration: none;
  background: #fff;
  color: #808191;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.square_btnnot{
  margin-bottom: 20px;
  display: inline-block;
  padding: 0.3em 0.8em;
  background: #fff;
  color: #808191;
  outline: none;
  opacity: 0.5;
  cursor: no-drop;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.square_btnnot:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
  cursor: no-drop;
}

/* Second-Squre-button */
.second_square_btn{
  display: inline-block;
  padding: 0.3em 0.8em;
  text-decoration: none;
  background: #fff;
  color: #808191;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.second_square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.second_square_btnnot{
  display: inline-block;
  padding: 0.3em 0.8em;
  background: #fff;
  color: #808191;
  outline: none;
  opacity: 0.5;
  cursor: no-drop;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.second_square_btnnot:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
  cursor: no-drop;
}

.page__span {
  color: #808191;
}

.cate-right{
  display: flex;
  align-items: center;
}

/* Contact page */


.contact-container{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f7f8;
  width: 100%;
  height: 100%;
}



.contact-container .contact-box{
  width: 55%;
  margin: 60px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.contact-container .contact-box .left{
  height: 100%;
  background: url("https://www.paperstreet.com/blog/wp-content/uploads/2016/04/iStock_000080733521_Double-1024x683-1.webp") no-repeat center;
  background-size: cover;
}

.contact-container .contact-box .right{
  padding: 25px 40px;
}

.contact-container .contact-box .right h2{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.contact-container .contact-box .right h2:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  border-radius: 2px;
  background-color: #2ecc71;
}




.right_contact_inner {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #808191;
}

.right_contact_inner .right_contact_inner_icon {
  color: #0068f9;
  margin-right: 15px;
}

/* About page */

.about-container{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f7f8;
  width: 100%;
  height: 100%;
}

.about-container .about-box{
  width: 55%;
  margin: 60px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.about-container .about-box .left{
  height: 100%;
  background: url("https://www.wallpaperup.com/uploads/wallpapers/2015/02/23/628220/743ed875e4eb5e5381acfeb901c11692-1000.jpg") no-repeat center;
  background-size: cover;
}

.about-container .about-box .right{
  padding: 25px 40px;
}

.about-container .about-box .right h2{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.about-container .about-box .right h2:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.about-container .about-box .right p {
  text-align: justify;
  color: #808191;
  line-height: 25px;
  margin-bottom: 20px;
}